.wrapper, .container-form {
  position: relative;
  min-height: 100vh;
}

/* Header */

.navbar {
  position: relative;
  z-index: 2;
  height: 20%;
  background-color: #208181;
  font-family: Arial, Helvetica, sans-serif;
}

.container img {
  width: 100%;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#dropdown1, #dropdown2 {
  background: white;
  border: #034F5C;
  color: black;
}

.container-link {
  width: 15%;
}


/* Main */
main {
  position: relative;
  min-height: calc(100vh - 130px - 80px);
  justify-content: center;
  align-items: center;
}

.imageFond {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

h2 {
  padding: 20px;
  color: black;
  font-size: 16px;
  text-decoration: underline;
}

/* Main/Page: AjoutPatient */

.container-form {
  background-color: #CEEEEE;
}



form {
  margin: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}


input#firstName, input#lastName, input#birthdate, input#socialSecurityNumber {
  border: 1px solid #034F5C;
} 

.ajoutPrenom, .ajoutNom, .ajoutDateNaiss, .ajoutNumSecu {
  padding: 10px;
}

button.btnAjoutPatient {
  width: 100px;
  margin: 20px;
}





/* Footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #208181;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.container-text {
  font-size: 10px;
  color: white;
  background-color: #208181;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text p {
  margin: 0px;
}

