/* Header */

.navbar {
  margin-bottom: 130px;
 
  background-color: #208181;
  font-family: Arial, Helvetica, sans-serif;
}


.container img {
  width: 15%;
  border-radius: 50%;
}
/* 
#dropdown1 {
  background: grey;
} */

.drop {
  background: white;
}

/* Footer */

.container-text {
  font-size: 10px;
  color: white;
  background-color: #208181;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text p {
  margin: 0px;
}

main {
  min-width: 100vh;
}